/* h1,
p {
  text-align: right !important;
}

.living__card p {
  text-align: center !important;
}

.living__hero h2,
.living__hero p {
  text-align: center !important;
} */

.arabic__wrapper {
  direction: rtl !important;
}

.living__cards {
  direction: ltr !important;
}

.about__timeline__container *,
.about__vision__container * {
  direction: ltr !important;
}

@media screen and (max-width: 1080px) {
  .arabic__wrapper .about__vision,
  .arabic__wrapper .about__mission {
    align-items: flex-end;
  }
  .arabic__wrapper .vision__background {
    height: 784px;
  }
  .about__arabic__wrapper .living__hero h2,
  .about__arabic__wrapper .living__hero p {
    text-align: right !important;
  }
  .about__arabic__wrapper .about__timeline__container {
    padding-bottom: 0;
  }
  .about__arabic__wrapper .living__wrapper {
    margin-top: 147px !important;
  }
}

@media screen and (max-width: 420px) {
  .arabic__wrapper .about__timeline__entry *,
  .arabic__wrapper .about__vision * {
    align-self: flex-end !important;
  }

  .arabic__wrapper .about__vision img {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}
