:root {
  --primary-color: #6654a4;
}

.about__container {
  max-width: 1400px;
  margin: 135px auto 0;
}

.about__hero {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}

.about__hero h1 {
  font-weight: normal;
  font-size: 40px;
  color: var(--primary-color);
  margin-bottom: 36px;
}

.about__hero p {
  max-width: 588px;
}

.about__timeline__container {
  max-width: 1200px;
  margin: 165px auto 0;
}

.about__timeline__entry {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about__timeline__container {
  position: relative;
}

.timeline__img {
  position: absolute;
  top: 0;
  margin: 0 !important;
  left: 50%;
  transform: translate(-50%, 0%);
}

.about__timeline__img,
.about__timeline__text {
  flex: 1;
}

.about__timeline__first h2,
.about__timeline__first p {
  padding-left: 100px;
}

.about__timeline__text h2 {
  color: var(--primary-color);
  font-size: 32px;
  font-weight: normal;
  margin-bottom: 35px;
}

.about__timeline__entry__first {
  padding-top: 67px;
}
.about__timeline__entry__second {
  padding-top: 173px;
}

.about__timeline__entry__second p,
.about__timeline__entry__second h2 {
  padding-right: 100px;
}

.about__timeline__img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__timeline__img img {
  display: block;
  max-width: 100%;
}

.tick__img {
  padding-left: 50px;
}

.about__timeline__entry__second {
  flex-direction: row-reverse;
}

.rocket__img {
  justify-content: flex-start;
  padding-left: 110px !important;
}

.vision__wrapper {
  background: #faf9fe;
}

.vision__background {
  width: 100%;
  height: 848px;
  background: #faf9fe;
  position: absolute;
  left: 0;
  z-index: -1;
}

.about__vision__container {
  max-width: 1200px;
  margin: 148px auto;
  padding: 89px 10px;
}

.about__vision,
.about__mission {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin: 76px 0; */
}

.about__mission {
  margin-top: 176px;
}

.about__mission img,
.about__vision img {
  display: block;
  padding: 50px 120px;
}

.vision__text h2 {
  font-size: 32px;
  font-weight: normal;
  color: var(--primary-color);
  margin-bottom: 20px;
}

.about__mission {
  flex-direction: row-reverse;
}
.about__mission p {
  max-width: 500px;
}

.living__wrapper {
  max-width: 1400px;
  margin: 128px auto 136px;
}

.living__hero {
  text-align: center;
}

.living__hero h2 {
  font-size: 32px;
  font-weight: normal;
}

.living__hero p {
  color: #0f001a;
  margin-top: 20px;
}

.living__cards {
  display: flex;
  max-width: 1200px;
  justify-content: center;
  margin: 0 auto;
  flex-wrap: wrap;
}

.living__card {
  width: 187px;
  margin: 46px 39px 0;
  padding: 36px 0;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 32px;
}

.transparency-img {
  padding: 10px 0;
}

.culture__wrapper {
  display: flex;
  max-width: 1400px;
  margin: 0 auto;
  flex-direction: row-reverse;
  justify-content: space-evenly;
}

.culture__text__container h2 {
  font-size: 32px;
  font-weight: normal;
}

.culture__img__container img {
  display: block;
  max-width: 100%;
}

.culture__text__container p {
  margin-top: 20px;
  color: #6a7282;
  max-width: 700px;
  margin-bottom: 128px;
}

@media screen and (max-width: 928px) {
  .culture__wrapper {
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .culture__text__container {
    margin-top: 40px;
  }
}

@media screen and (max-width: 798px) {
  .about__hero {
    flex-direction: column-reverse;
    text-align: center;
  }

  .rocket__img {
    padding: 0;
  }
  .about__timeline__entry * {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
}

@media screen and (max-width: 1080px) {
  .about__timeline__entry__first p,
  .about__timeline__entry__second h2,
  .about__timeline__entry__first h2,
  .about__timeline__entry__second p {
    padding: 0;
  }

  .about__timeline__entry__second p,
  .about__timeline__entry__second h2 {
    padding-left: 70px;
  }

  .timeline__img {
    display: none;
  }

  .about__vision,
  .about__mission {
    flex-direction: column;
    text-align: center;
  }
  .about__vision {
    padding-bottom: 60px;
  }
  .about__mission {
    margin-top: 80px;
  }

  .vision__background {
    height: 80%;
  }
}

@media screen and (max-width: 590px) {
  .about__timeline__entry__first p,
  .about__timeline__entry__second h2,
  .about__timeline__entry__first h2,
  .about__timeline__entry__second p {
    padding: 0;
  }
  .about__timeline__entry {
    flex-direction: column;
    text-align: center;
  }
  .about__timeline__text h2 {
    margin-bottom: 20px;
  }
  .about__timeline__entry {
    padding-top: 50px;
  }
}

@media screen and (max-width: 470px) {
  .vision__background {
    height: 90%;
  }
}
