:root {
  --primary: #6654a4;
}

.consumer__container {
  max-width: 1400px;
  margin: 50px auto 0;
}

.consumer__hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero__image__section {
  position: relative;
}

.hero__image__section img {
  display: block;
  max-width: 100%;
}

.hero__heading h1 {
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 70px;
  color: var(--primary);
}

.consumer__hero p {
  color: #656668;
}

.hero__cta {
  display: flex;
}
.hero__cta img {
  display: block;
  max-width: 100%;
  width: 180px;
}

.applestore {
  margin: 0 24px;
}

.consumer__secondary {
  margin-top: 120px;
}

.consumer__howto {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin-bottom: 120px;
}

.consumer__howto__text h3 {
  font-size: 32px;
  font-weight: normal;
  max-width: 400px;
  color: #0f001a;
  line-height: 48px;
  letter-spacing: 2%;
}

.consumer__howto__text p,
.consumer__howto__text a {
  font-size: 18px;
  font-weight: normal;
  margin: 20px 0;
  color: #656668;
  line-height: 26px;
  max-width: 400px;
}

.consumer__howto a {
  color: #6654a4;
}

.consumer__howto__text {
  position: relative;
}
.consumer__howto__text img {
  display: block;
  position: absolute;
  top: -50px;
  left: -50px;
}

.consumer__howto__img {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.consumer__howto__img img {
  max-width: 100%;
  display: block;
  width: 346px;
}

.consumer__howto:nth-child(even) .consumer__howto__img {
  order: -1;
  align-items: center;
  justify-content: flex-start;
}

.consumer__howto:nth-child(even) .consumer__howto__text {
  display: flex;
  flex-direction: column;
  padding-left: 190px;
  text-align: left;
}

.consumer__howto:nth-child(even) .consumer__howto__text img {
  position: absolute;
  top: initial;
  left: initial;
  right: -50px;
  bottom: -50px;
}

@media screen and (max-width: 1020px) {
  .consumer__howto {
    grid-template-columns: 1fr;
  }
  .consumer__howto__text {
    position: initial;
  }

  .consumer__howto__text,
  .consumer__howto__img {
    display: flex;
    flex-direction: column;
    align-items: center !important;
    justify-content: center !important;
    order: 1 !important;
    text-align: center !important;
  }

  .consumer_ar_text {
    align-items: flex-end !important;
  }

  .consumer__howto {
    position: relative;
  }

  .consumer__howto__img {
    margin-bottom: 39px;
  }
  .consumer__howto__text a {
    margin-bottom: 20px;
  }

  .consumer__howto:nth-child(even) .consumer__howto__text {
    padding-left: 0;
  }
}

@media screen and (max-width: 768px) {
  .consumer__hero {
    flex-direction: column-reverse;
    align-items: flex-start;
    padding-top: 50px;
  }
}

@media screen and (max-width: 420px) {
  .hero__cta {
    flex-direction: column;
    align-items: center;
  }
  .hero__cta img {
    margin: 12px 0;
  }
  .consumer_ar_text h3 {
    text-align: flex-end !important;
    align-self: flex-end !important;
  }
  * {
    align-items: flex-start;
    justify-content: flex-start;
    align-self: flex-start;
  }
  .consumer_ar_text h3 {
    align-self: flex-end !important;
  }
  .dots__img {
    display: none !important;
  }
}
