.arabic__wrapper .consumer__container {
  direction: ltr !important;
  text-align: right !important;
}

.arabic__wrapper p,
h3,
h2,
h1,
a {
  text-align: right !important;
}

.arabic__wrapper .consumer__howto:nth-child(odd) {
  text-align: right;
}

.arabic__wrapper .consumer__howto:nth-child(odd) a {
  margin-right: 198px;
}

@media screen and (max-width: 1020px) {
  .arabic__wrapper .consumer__howto:nth-child(odd) a {
    margin-right: 0;
  }
}
